<launch>
  <!--load robot description -->
   <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find puzzlebot_gazebo)/urdf/puzzlebot.xacro'" />
    
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0.0"/>
    <arg name="prefix" default=""/>
    <arg name="name" default="puzzlebot"/>
    
    <node name="puzzlebot_controller" pkg="puzzlebot_control" type="puzzlebot_control_node"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
      <param name="tf_prefix" value="$(arg prefix)" />
    </node>

  <node name="joint_state_publisher"  pkg="joint_state_publisher" type="joint_state_publisher"/> 
</launch>